.card {
    cursor: pointer;
    background: white;
    border-radius: 25px;
    border: 1px solid #aaa;
    box-shadow: 0 0 20px #3333333f;

    width: 280px;
    aspect-ratio: 3/4;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    transition: transform 0.2s;

    &:hover {
        transform: scale(1.05);
    }

    .flag {
        border-radius: 25px 25px 0 0;
        border-bottom: 1px solid #aaa;
        width: 100%;
        
        img {
            border-radius: 25px 25px 0 0;
            width: 100%;
            height: 100%;
            aspect-ratio: 3/2;
            object-fit: cover;
            object-position: center;
        }
    }

    .card-body {
        width: 100%;
        padding: 20px;
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        
        h3, h4 {
            color: burlywood;
        }
        
    }
    
    .buttons {
        border-top: 1px solid #aaa;
        width: 100%;

        button {
            cursor: pointer;
            background: burlywood;
            color: white;
            border: none;

            width: 50%;
            height: 40px;

            transition: all 0.2s;

            &:first-child {
                border-radius: 0 0 0 25px;
                border-right: 1px solid #aaa;
            }

            &:last-child {
                border-radius: 0 0 25px 0;
            }

            &:hover {
                background: #aaa;
            }
        }
    }
}