.nav-bar {
    background: burlywood;
    box-shadow: 0 0 20px #3333333f;

    width: 100%;
    height: 60px;
    padding: 10px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    // position: fixed;
    z-index: 10;

    .logo {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 10px;

        .logo-link {
            text-decoration: none;
            display: flex;
            align-items: center;
            gap: 10px;

            h1 {
                font-family: $logo-font;
                font-weight: 100;
                letter-spacing: 1px;
                color: white;
            }
    
            img {
                width: 40px;
            }
        }
    }

    .links {
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

        .link {
            text-align: center;
            text-decoration: none;
            color: white;
            font-weight: 500;

            transition: all 0.2s;

            &:hover {
                transform: scale(1.15);
            }
        }

        .logout {
            cursor: pointer;

            transition: all 0.2s;

            &:hover {
                transform: scale(1.15);
            }
        }
    }
}

@media (max-width: 768px) {
    .nav-bar {
        height: 50px;
        padding: 10px 15px;

        justify-content: space-between;
    
        .logo {
            display: none;
        }
    
        .links {
            width: 100%;
            gap: 10px;
    
            .link {
                font-size: 14px;
            }

            p {
                display: none;
            }

            .logout {
                font-size: 16px;
            }
        }
    }
}