.home-main {
    width: 100%;
    padding: 5% 10%;

    .container {
        width: 100%;

        display: grid;
        grid-template-columns: repeat(auto-fit, 280px);
        justify-content: space-evenly;
        align-items: center;
        gap: 40px;
    }
}

@media (max-width: 768px) {
    .home-main {
        padding: 5%;
    
        .container {
            display: grid;
            grid-template-columns: repeat(auto-fit, 150px);
            gap: 20px;
        }
    }
}