// FONTS

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Pacifico&display=swap');

// UI

@import './base/mixins';
@import './base/variables';



// COMPONENTS

@import './components/menu';
@import './components/countrycard';
@import './components/loader';



// PAGES

@import './pages/login';
@import './pages/register';
@import './pages/home';
@import './pages/profile';



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: white;
    font-family: $main-font;
}